html, body {
            
	height: 100%;
	margin: 0;

}


p.image-container{
	
	text-align: center;
	
}


.hero {
    min-height: 70%; 
	width: 100%;
	display:flex;
	justify-content:center;
	align-items:center;
}

.pattern{
	background: url("../img/grayScience.png");
	background-size: 300px;
}

.continer{

}

.header .title a{
	color: #FF5D18;
}

.title-wrap{
	
	width: 355px;
	height: 355px;
	border-radius: 800px;
	background: #2d2716de;
	display: inline-block;
	text-align:center; 
	padding: 20px; 
    
    color: #DAD6CA;
	
}





h2.post-title{
	/*color: #FF5D18;*/
}

p{
	color: #1B1B1B !important;
}

.title-wrap .firstLine{
	
	font-weight: bold;
    font-size: 50px;
    margin-top: 81px;
    line-height: 45px;
	
}

.title-wrap .secondLine{
	
	 font-size: 24px;
	 margin-top: 20px;
	 line-height: 25px;
	
}

.post-entry:first-child{
	margin-top: 0px;
}

.post-entry{
	
	border-left: 5px orange solid;
	/*border-image: url("../img/country-quilt.png");*/
	border-radius: 0px;
	
}

.post-entry + .post-entry{ /* Tole je vsak, razen prvi post */
	
	margin-top: 0px;
	
}

.post-entry:hover {
  /*box-shadow: 0 0 40px rgba(0, 0, 0, .1) inset;*/
}

.list-header, .first-entry > *, .post-entry, .list-footer {
    max-width: none;
    margin-left: 0px;
    margin-right: 0px;
}

main .postsRow{
	
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	
}

main .postCol{
	padding:0px;
}

.content-container {
	
	padding: 0px;
	
}

@media only screen and (max-width: 400px) {
    
	.title-wrap{
	
		width: 250px;
		height: 250px;
	}
	
	.title-wrap .firstLine{
		margin-top: 60px;
		font-size: 35px;
		line-height: 30px;
	}
	
	.title-wrap .secondLine{
		    line-height: 5px;
	}
}
